<p fundoAmarelo>Texto com fundo amarelo.</p>

<h1 fundoAmarelo>test</h1>

<button highlightMouse fundoAmarelo>Botão com fundo amarelo</button>

<p highlightMouse>
    Texto com highlight quando passar o mouse.
</p>

<p highlight [defaultColor]="'grey'" [highlightColor]="'red'">
    Texto com highlight com cores customizadas.
</p>

<div *ngIf="mostrarCursos">Lista de cursos</div>

<div *ngElse="mostrarCursos">Nao existem cursos para serem listados</div>

<br>
<button (click)="onMostrarCursos()">Mostrar ou esconder</button>

<ng-template [ngElse]="mostrarCursos">
    <div>Lista de cursos 123</div>
</ng-template>